{:deps {org.clojure/clojure {:mvn/version "1.9.0"}
        org.clojure/data.json {:mvn/version "0.2.6"}}
 :aliases {:native-image
           {:main-opts ["-m clj.native-image jdnsmith.core"
                        "-H:Name=json2edn"]
            :jvm-opts ["-Dclojure.compiler.direct-linking=true"]
            :extra-deps
            {clj.native-image
             {:git/url "https://github.com/taylorwood/clj.native-image.git"
              :sha "567176ddb0f7507c8b0969e0a10f60f848afaf7d"}}}}}
